<div class="backg">

<h1>Members</h1>

<div class="buttons">
<form action="/members/new" method="GET">
<input type="submit" value="Join">
</form>

<form action="/members/sort" method="GET">
<input type="submit" value="Sort by Name">
</form>
</div>


<table>
  <tb>
  <tr>
    <th>Name</th>
    <th>Membership</th>
    <th>ID</th>
    <th>Details</th>
    <th>Quit</th>
  </tr>
  <% for member in @members %>
  <tr>
    <td><%= member.name() %></td>
    <td><%= member.membership() %></td>
    <td><%= member.id() %></td>
    <td><form action="/members/<%= member.id%>/edit" method="GET">
    <input type="submit" value="Edit">
    </form></td>
    <td><form action="/members/<%= member.id %>/delete" method="POST">
    <input type="submit" value="Remove">
    </form>
    </td>
  </tr>
  <% end %>
  </tb>
</table>

</div>
