<div class="backg">

<h1>Classes</h1>

<div class="buttons">
<form class="buttons" action="/gymclasses/new" method="GET">
<input type="submit" value="New">
</form>

<form action="/gymclasses/sort" method="GET">
<input type="submit" value="Sort by Time">
</form>
</div>
<br>
<table>
<tb>
  <tr>
    <th>Name</th>
    <th>Time</th>
    <th>Capacity</th>
    <th>Details</th>
    <th>Quit</th>
  </tr>
  <% for gclass in @gclasses %>
  <tr>
    <td><%= gclass.name() %></td>
    <td><%= gclass.timec() %></td>
    <td><%= gclass.capacity() %></td>
    <td><form action="/gymclasses/<%= gclass.id%>/edit" method="GET">
    <input type="submit" value="Edit">
    </form></td>
    <td>
    <form action="/gymclasses/<%= gclass.id %>/delete" method="POST">
    <input type="submit" value="Remove">
    </form>
    </td>
  </tr>
<% end %>
</tb>
</table>

</div>
