<h1>Classes</h1>

<a href="/gymclasses/new">New</a>

<% for gclass in @gclasses %>
<hr>
<table>
  <tr><p>Name: <%= gclass.name() %></p></tr>
  <tr<p>Time: <%= gclass.timec() %></p></tr>
  <tr<p>Capacity: <%= gclass.capacity() %></p></tr>
  <tr><a href="/gymclasses/<%= gclass.id%>/edit">Edit</a></tr>
  <form action="/gymclasses/<%= gclass.id %>/delete" method="POST">
  <input type="submit" value="Remove">
  </form>
</table>
<hr>
<% end %>
