<h1>Classes</h1>

<a href="/gymclasses/new">New</a>

<table>
<tb>
  <tr>
    <th>Name</th>
    <th>Time</th>
    <th>Capacity</th>
    <th>Details</th>
    <th>Quit</th>
  </tr>
  <% for gclass in @gclasses %>
  <tr>
    <td><%= gclass.name() %></td>
    <td><%= gclass.timec() %></td>
    <td><%= gclass.capacity() %></td>
    <td><a href="/gymclasses/<%= gclass.id%>/edit">Edit</a></td>
    <td>
    <form action="/gymclasses/<%= gclass.id %>/delete" method="POST">
    <input type="submit" value="Remove">
    </form>
    </td>
  </tr>
<% end %>
</tb>
</table>
