<div class="backg">


<h1>Book a Class</h1>

<h2>Premium:</h2>

<form action="/bookings" method="post">
  <label>
    Select a Member:
    <select name="member_id">
      <% for member in @members %>
      <% if member.membership == "Premium" %>
      <option value="<%= member.id %>"><%= member.name %></option>
      <% end %>
      <% end %>
    </select>
  </label>
  <br>
  <br>
  <label>
    Select a Class:
    <select name="gym_class_id">
      <% for gclass in @gclasses %>
      <% if Booking.count(gclass.id) < gclass.capacity %>
      <option value="<%= gclass.id %>"><%= gclass.name + " " + gclass.timec %></option>
      <% end %>
      <% end %>
    </select>
  </label>
  <br>
  <br>
  <input type='submit' value="Book">
</form>

<h2>Standard:</h2>

<form action="/bookings" method="post">
  <label>
    Select a Member:
    <select name="member_id">
      <% for member in @members %>
      <% if member.membership == "Standard" %>
      <option value="<%= member.id %>"><%= member.name %></option>
      <% end %>
      <% end %>
    </select>
  </label>
  <br>
  <br>
  <label>
    Select a Class:
    <select name="gym_class_id">
      <% for gclass in @sclasses %>
      <% if Booking.count(gclass.id) < gclass.capacity %>
      <option value="<%= gclass.id %>"><%= gclass.name + " " + gclass.timec %></option>
      <% end %>
      <% end %>
    </select>
  </label>
  <br>
  <br>
  <input type='submit' value="Book">
</form>

</div>
